body {
	background-color: #696969;
	margin: 0;
	padding: 0;
}

#grid_wrapper {
	padding: 20px;
}

.box {
	background-color: #00CED1;
	border: 1px solid #046f90;
	text-align: center;
}

p {
	color: #696969;
	font-size: 1em;
}

@media only screen and (min-width: 769px) {
	p {
		font-size: 0.75em;
	}
}

@media only screen and (min-width: 815px) {
	p {
		font-size: 0.8em;
	}
}

@media only screen and (min-width: 900px) {
	p {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 961px) {
	p {
		font-size: 1em;
	}
}
