body {
	background-color: #696969;
	margin: 0;
	padding: 0;
}

#grid_wrapper {
	padding: 20px;
}

.box {
	background-color: #00CED1;
	border: 1px solid #046f90;
	box-sizing: border-box;
	text-align: center;
}

p {
	color: #696969;
}
