/*DEFAULT COLORS*/

$blue: #182630;
$gray: #858585;
$mint: #00CED1;
$white: mintcream;

/*MEDIUM COLORS*/
$blue_med: #3d7ca9;
$gray_med: #696969;
$mint_med: #5e953d;
$white_med: #d9d9d9;

/*DARK COLORS*/
$blue_dark: #2f6083;
$gray_dark: #505050;
$mint_dark: #3c5f27;
$white_dark: #b3b3b3;
