nav {
	padding: 25px 0;

	ul {
		list-style: none;
		li {
			display: inline-block;
			margin-left: 1em;
			padding: 5px 15px;

			a {
				display: block;
			}
		}
		ul {
			display: none;
			margin-left: 1em;
		}
	}
}

footer {
	background: $gray;
	height: 70px;
	text-align: center;

	p {
		font-size: 0.875em;

		@media only screen and (min-width: 400px) {
			font-size: 1em;
		}
	}

	a {
		border: 0 !important;;
	}

	#code, #heart {
		vertical-align: middle;
		width: 18px;
	}
}
