/* line 1, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.row {
  zoom: 1; }
  /* line 4, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
  .row::before, .row::after {
    content: " ";
    display: table; }
  /* line 8, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
  .row::after {
    clear: both; }

/* line 34, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23 {
  float: left;
  position: relative;
  min-height: 1px; }

/* line 39, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-1 {
  width: 4.1667%; }

/* line 42, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-2 {
  width: 8.3334%; }

/* line 45, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-3 {
  width: 12.5%; }

/* line 48, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-4 {
  width: 16.6667%; }

/* line 51, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-5 {
  width: 20.8334%; }

/* line 54, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-6 {
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .col-6 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 25%; } }

/* line 65, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-7 {
  width: 29.1667%; }

/* line 68, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-8 {
  width: 33.3334%; }
  @media only screen and (min-width: 600px) {
    .col-8 {
      width: 50%; } }

/* line 75, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-9 {
  width: 37.5%; }
  @media only screen and (min-width: 480px) {
    .col-9 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 25%; } }

/* line 86, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-10 {
  width: 41.6667%; }

/* line 89, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-11 {
  width: 45.8334%; }

/* line 92, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-12 {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 50%; } }

/* line 99, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-13 {
  width: 54.1667%; }

/* line 102, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-14 {
  width: 58.3334%; }

/* line 105, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-15 {
  width: 62.5%; }

/* line 108, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-16 {
  width: 66.6667%; }

/* line 111, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-17 {
  width: 70.8334%; }

/* line 114, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-18 {
  width: 75%; }

/* line 117, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-19 {
  width: 79.1667%; }

/* line 120, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-20 {
  width: 83.3334%; }

/* line 123, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-21 {
  width: 87.5%; }

/* line 126, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-22 {
  width: 91.6667%; }

/* line 129, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-23 {
  width: 95.8334%; }

/* line 132, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.col-24 {
  min-height: 1px;
  position: relative;
  width: 100%; }

/* line 137, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.no-float {
  clear: both;
  float: none; }

/* line 141, /Users/Prince_Perry/Dropbox/Web/_PROJECTS/Flex/scss/flex.scss */
.auto-margin {
  display: none;
  margin: 0 auto; }

/*# sourceMappingURL=flex.css.map */
