/*********************/
/* Table of Contents */
/* 1.0 Reset         */
/* 2.0 Color         */
/* 3.0 Grid          */
/* 4.0 Typography    */
/* 5.0 Menus         */
/* 6.0 Elements      */
/* Table of Contents */
/* Table of Contents */
/* Table of Contents */
/* Table of Contents */
/*********************/
/******************************************
1.0 Reset
******************************************/
/* line 5, /Users/opsteam/dev/Resources/Site/scss/reset */
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* for older browsers */
/* line 14, /Users/opsteam/dev/Resources/Site/scss/reset */
header, section, footer, aside, nav, article, figure, figcaption {
  display: block; }

/* line 19, /Users/opsteam/dev/Resources/Site/scss/reset */
html, body {
  background-color: #F5F7F7;
  font-family: 'Raleway', serif;
  font-size: 100%;
  width: 100%; }

/* line 26, /Users/opsteam/dev/Resources/Site/scss/reset */
hr {
  border: 0;
  height: 1px; }

/******************************************
2.0 Color
******************************************/
/*DEFAULT COLORS*/
/*MEDIUM COLORS*/
/*DARK COLORS*/
/*BACKGROUND COLOR CLASSES*/
/* line 30, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-black {
  background-color: #303030; }

/* line 33, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-blue {
  background-color: #5594c1; }

/* line 36, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-gray {
  background-color: #bfbfbf; }

/* line 39, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-green {
  background-color: #76b74e; }

/* line 42, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-red {
  background-color: #df1e25; }

/* line 45, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-white {
  background-color: #f5f7f7; }

/* line 48, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.bg-yellow {
  background-color: #F7F743; }

/* line 51, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.pattern-triangle-dark {
  background-image: url('../img/bg_pattern_triangle_dark.png');
  background-repeat: repeat; }

/* line 56, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.pattern-triangle-gray {
  background-image: url('../img/bg_pattern_triangle_gray.png');
  background-repeat: repeat; }

/* line 62, /Users/opsteam/dev/Resources/Site/scss/color_palette */
.pattern-triangle-light {
  background-image: url('../img/bg_pattern_triangle_light.png');
  background-repeat: repeat; }

/******************************************
3.0 Reset
******************************************/
/* line 1, /Users/opsteam/dev/Resources/Site/scss/grid */
.row {
  *zoom: 1; }
  /* line 3, /Users/opsteam/dev/Resources/Site/scss/grid */
  .row::before, .row::after {
    content: " ";
    display: table; }
  /* line 7, /Users/opsteam/dev/Resources/Site/scss/grid */
  .row::after {
    clear: both; }

/* line 33, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23 {
  float: left;
  position: relative;
  min-height: 1px; }

/* line 38, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-1 {
  width: 25%; }
  @media only screen and (min-width: 480px) {
    .col-1 {
      width: 16.6667%; } }
  @media only screen and (min-width: 600px) {
    .col-1 {
      width: 12.5%; } }
  @media only screen and (min-width: 992px) {
    .col-1 {
      width: 4.1667%; } }

/* line 53, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-2 {
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .col-2 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-2 {
      width: 8.3334%; } }

/* line 64, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-3 {
  width: 25%; }
  @media only screen and (min-width: 600px) {
    .col-3 {
      width: 12.5%; } }

/* line 71, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-4 {
  width: 100%; }
  @media only screen and (min-width: 600px) {
    .col-4 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-4 {
      width: 25%; } }
  @media only screen and (min-width: 992px) {
    .col-4 {
      width: 16.6667%; } }

/* line 86, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-5 {
  width: 33.3334%; }
  @media only screen and (min-width: 768px) {
    .col-5 {
      width: 20.8334%; } }

/* line 93, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-6 {
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .col-6 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-6 {
      width: 25%; } }

/* line 104, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-7 {
  width: 33.3334%; }
  @media only screen and (min-width: 600px) {
    .col-7 {
      width: 29.1667%; } }

/* line 111, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-8 {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .col-8 {
      width: 33.3334%; } }

/* line 118, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-9 {
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .col-9 {
      width: 37.5%; } }

/* line 125, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-10 {
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .col-10 {
      width: 41.6667%; } }

/* line 132, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-11 {
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .col-11 {
      width: 45.8334%; } }

/* line 139, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-12 {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .col-12 {
      width: 50%; } }

/* line 146, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-13 {
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .col-13 {
      width: 54.1667%; } }

/* line 153, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-14 {
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .col-14 {
      width: 58.3334%; } }

/* line 160, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-15 {
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .col-15 {
      width: 62.5%; } }

/* line 167, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-16 {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .col-16 {
      width: 66.6667%; } }

/* line 174, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-17 {
  width: 66.6667%; }
  @media only screen and (min-width: 600px) {
    .col-17 {
      width: 70.8334%; } }

/* line 181, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-18 {
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .col-18 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-18 {
      width: 75%; } }

/* line 192, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-19 {
  width: 66.6667%; }
  @media only screen and (min-width: 768px) {
    .col-19 {
      width: 79.1667%; } }

/* line 199, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-20 {
  width: 100%; }
  @media only screen and (min-width: 600px) {
    .col-20 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-20 {
      width: 75%; } }
  @media only screen and (min-width: 992px) {
    .col-20 {
      width: 83.3334%; } }

/* line 214, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-21 {
  width: 75%; }
  @media only screen and (min-width: 600px) {
    .col-21 {
      width: 87.5%; } }

/* line 221, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-22 {
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .col-22 {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .col-22 {
      width: 91.6667%; } }

/* line 232, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-23 {
  width: 75%; }
  @media only screen and (min-width: 480px) {
    .col-23 {
      width: 83.3334%; } }
  @media only screen and (min-width: 600px) {
    .col-23 {
      width: 87.5%; } }
  @media only screen and (min-width: 992px) {
    .col-23 {
      width: 95.8334%; } }

/* line 249, /Users/opsteam/dev/Resources/Site/scss/grid */
.col-24 {
  min-height: 1px;
  position: relative;
  width: 100%; }

/******************************************
4.0 Typography
******************************************/
/* line 6, /Users/opsteam/dev/Resources/Site/scss/typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase; }

/* line 17, /Users/opsteam/dev/Resources/Site/scss/typography */
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5em; }

/* line 20, /Users/opsteam/dev/Resources/Site/scss/typography */
h1 {
  font-size: 3em; }

/* line 23, /Users/opsteam/dev/Resources/Site/scss/typography */
h2 {
  font-size: 2.6em; }

/* line 26, /Users/opsteam/dev/Resources/Site/scss/typography */
h3 {
  font-size: 2.4em; }

/* line 29, /Users/opsteam/dev/Resources/Site/scss/typography */
h4 {
  font-size: 2.1em; }

/* line 32, /Users/opsteam/dev/Resources/Site/scss/typography */
h5 {
  font-size: 1.8em; }

/* line 35, /Users/opsteam/dev/Resources/Site/scss/typography */
h6 {
  font-size: 1.5em; }

/* line 38, /Users/opsteam/dev/Resources/Site/scss/typography */
p {
  font-size: 1em;
  margin: 5px 0px;
  max-width: 500px; }

/* line 43, /Users/opsteam/dev/Resources/Site/scss/typography */
ul {
  list-style-type: none; }

/* line 46, /Users/opsteam/dev/Resources/Site/scss/typography */
a {
  border-bottom: 1px solid #5594c1;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none; }
  /* line 52, /Users/opsteam/dev/Resources/Site/scss/typography */
  a:hover {
    color: #5594c1; }
  /* line 55, /Users/opsteam/dev/Resources/Site/scss/typography */
  a:visited {
    color: #999999; }
    /* line 58, /Users/opsteam/dev/Resources/Site/scss/typography */
    a:visited:hover {
      color: #5594c1; }

/* line 63, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-black {
  color: #303030; }

/* line 66, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-blue {
  color: #5594c1; }

/* line 69, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-gray {
  color: #999999; }

/* line 73, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-gray-dark {
  color: #737373; }

/* line 76, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-green {
  color: #76b74e; }

/* line 79, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-red {
  color: #df1e25; }

/* line 82, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-white {
  color: #f5f7f7; }

/* line 85, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-yellow {
  color: #d9d926;
  text-shadow: 1px 1px 0px #999999; }

/* line 89, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-center {
  text-align: center; }

/* line 92, /Users/opsteam/dev/Resources/Site/scss/typography */
.text-right {
  text-align: right; }

/******************************************
5.0 Menus
******************************************/
/* line 1, /Users/opsteam/dev/Resources/Site/scss/navigation */
nav {
  padding: 25px 0; }
  /* line 5, /Users/opsteam/dev/Resources/Site/scss/navigation */
  nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 5px 15px; }
    /* line 10, /Users/opsteam/dev/Resources/Site/scss/navigation */
    nav ul li a {
      display: block; }
  /* line 14, /Users/opsteam/dev/Resources/Site/scss/navigation */
  nav ul ul {
    display: none;
    margin-left: 1em; }

/******************************************
6.0 Elements
******************************************/
/******************************************
6.1 Buttons
******************************************/
/* line 6, /Users/opsteam/dev/Resources/Site/scss/elements */
button, .btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 7px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

/* line 27, /Users/opsteam/dev/Resources/Site/scss/elements */
.btn-blue {
  background-color: #5594c1;
  color: #f5f7f7;
  box-shadow: 0 5px 0 #3d7ca9; }
  /* line 31, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-blue:hover {
    background-color: #3d7ca9;
    box-shadow: 0 6px 0 #2f6083; }
  /* line 35, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-blue:active {
    background-color: #2f6083;
    box-shadow: 0 6px 0 #3d7ca9; }

/* line 41, /Users/opsteam/dev/Resources/Site/scss/elements */
.btn-gray {
  background: #bfbfbf;
  color: #303030;
  box-shadow: 0 5px 0 #999999; }
  /* line 45, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-gray:hover {
    background: #999999;
    box-shadow: 0 5px 0 #bfbfbf; }
  /* line 49, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-gray:active {
    background: #bfbfbf;
    box-shadow: 0 5px 0 #999999; }

/* line 55, /Users/opsteam/dev/Resources/Site/scss/elements */
.btn-green {
  background: #76b74e;
  color: #f5f7f7 !important;
  box-shadow: 0 5px 0 #5e953d; }
  /* line 60, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-green:hover {
    background-color: #5e953d;
    box-shadow: 0 6px 0 #3c5f27; }
  /* line 64, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-green:active {
    background-color: #3c5f27;
    box-shadow: 0 6px 0 #76b74e; }

/* line 70, /Users/opsteam/dev/Resources/Site/scss/elements */
.btn-red {
  background-color: #df1e25;
  color: #f5f7f7;
  box-shadow: 0 5px 0 #b4181e; }
  /* line 74, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-red:hover {
    background-color: #b4181e;
    box-shadow: 0 6px 0 #871216; }
  /* line 78, /Users/opsteam/dev/Resources/Site/scss/elements */
  .btn-red:active {
    background-color: #871216;
    box-shadow: 0 6px 0 #b4181e; }

/******************************************
6.2 Checkboxes
******************************************/
/* line 91, /Users/opsteam/dev/Resources/Site/scss/elements */
.checkbox label {
  margin-bottom: 15px; }
  /* line 95, /Users/opsteam/dev/Resources/Site/scss/elements */
  .checkbox label input[type=checkbox] {
    height: 20px;
    width: 20px;
    vertical-align: middle; }

/* line 103, /Users/opsteam/dev/Resources/Site/scss/elements */
input[type=checkbox] {
  cursor: pointer;
  height: 25px;
  margin-right: 0px;
  position: absolute;
  opacity: 0;
  width: 25px;
  z-index: 2; }
  /* line 112, /Users/opsteam/dev/Resources/Site/scss/elements */
  input[type=checkbox]:checked + .check_span {
    background: #76b74e;
    border: none;
    padding: 5px; }
  /* line 118, /Users/opsteam/dev/Resources/Site/scss/elements */
  input[type=checkbox]:checked + .check_span::before {
    background-color: #f5f7f7;
    height: 9px;
    left: 5px;
    top: 10px;
    transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg); }
  /* line 128, /Users/opsteam/dev/Resources/Site/scss/elements */
  input[type=checkbox]:checked + .check_span::after {
    background-color: #f5f7f7;
    height: 16px;
    right: 8px;
    top: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

/* line 139, /Users/opsteam/dev/Resources/Site/scss/elements */
input[type=checkbox] + .check_span {
  background: transparent;
  border: 3px solid #bfbfbf;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  width: 25px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }
  /* line 158, /Users/opsteam/dev/Resources/Site/scss/elements */
  input[type=checkbox] + .check_span::before, input[type=checkbox] + .check_span::after {
    background: none;
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease; }
  /* line 171, /Users/opsteam/dev/Resources/Site/scss/elements */
  input[type=checkbox] + .check_span::before {
    height: 16px;
    left: 13px;
    top: 7px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  /* line 180, /Users/opsteam/dev/Resources/Site/scss/elements */
  input[type=checkbox] + .check_span::after {
    height: 16px;
    right: 13px;
    top: 7px; }

/******************************************
6.x Popups
******************************************/
/* line 192, /Users/opsteam/dev/Resources/Site/scss/elements */
.overlay_bg {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: rgba(48, 48, 48, 0.85);
  z-index: 5000;
  position: fixed;
  top: 0;
  z-index: 20;
  left: 0; }

/* line 210, /Users/opsteam/dev/Resources/Site/scss/elements */
.popup_window {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  background: #f5f7f7;
  color: #595959;
  padding: 15px;
  position: fixed;
  border: solid 5px;
  z-index: 50; }
  /* line 220, /Users/opsteam/dev/Resources/Site/scss/elements */
  .popup_window .exit_btn {
    z-index: 51;
    position: absolute;
    padding: 5px;
    margin-left: calc(100% - 35px);
    margin-top: -15px;
    cursor: pointer;
    display: block; }
    /* line 228, /Users/opsteam/dev/Resources/Site/scss/elements */
    .popup_window .exit_btn:hover {
      background-color: #bfbfbf;
      color: #f5f7f7; }

/******************************************
6.x Images
******************************************/
/* line 239, /Users/opsteam/dev/Resources/Site/scss/elements */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

/******************************************
7.0 Elements
******************************************/
/******************************************
7.1 Clearfix
******************************************/
/* line 5, /Users/opsteam/dev/Resources/Site/scss/positioning */
.clearfix {
  *zoom: 1; }
  /* line 7, /Users/opsteam/dev/Resources/Site/scss/positioning */
  .clearfix::before, .clearfix::after {
    content: " ";
    display: table; }
  /* line 11, /Users/opsteam/dev/Resources/Site/scss/positioning */
  .clearfix::after {
    clear: both; }

/******************************************
7.1 Positioning
******************************************/
/* line 20, /Users/opsteam/dev/Resources/Site/scss/positioning */
.offset-x-pos {
  position: relative;
  left: 20px; }

/* line 24, /Users/opsteam/dev/Resources/Site/scss/positioning */
.offset-x-neg {
  position: relative;
  left: -20px; }

/* line 29, /Users/opsteam/dev/Resources/Site/scss/positioning */
.offset-y-pos {
  position: relative;
  top: -20px; }

/* line 34, /Users/opsteam/dev/Resources/Site/scss/positioning */
.offset-y-neg {
  position: relative;
  top: 20px; }

/******************************************
7.1 Align
******************************************/
/******************************************
7.1 Float
******************************************/
/******************************************
7.1 Float
******************************************/
/* line 50, /Users/opsteam/dev/Resources/Site/scss/positioning */
.pad-sm {
  padding: 20px; }

/* line 54, /Users/opsteam/dev/Resources/Site/scss/positioning */
.pad-md {
  padding: 40px; }

/* line 58, /Users/opsteam/dev/Resources/Site/scss/positioning */
.pad-lg {
  padding: 80px; }

/* line 59, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.transition {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

/* line 65, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.auto-margin {
  display: block;
  margin: 0 auto; }

/* line 69, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.no-float {
  clear: both;
  float: none; }

/* line 74, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.no-pad {
  padding: 0; }

/* line 78, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.pull-right {
  float: right; }

/* line 81, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.no-decoration {
  color: inherit;
  text-decoration: none !important; }

/* line 85, /Users/opsteam/dev/Resources/Site/scss/style.scss */
.section-border {
  border-bottom: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  margin: 40px auto; }

/* line 91, /Users/opsteam/dev/Resources/Site/scss/style.scss */
footer.copyright {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
